<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Shivakumar Kali/IdeaProjects/SeleniumAdvancedFramework"><classes><class name="com.seleniumAdvanceFramework.tests.VWO.TestVWOLogin_01_Normal_POM"><methods><include name="test_negative_vwo_login"/></methods></class></classes></test></suite>